<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">©2016. All Rights Reserved.</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Please, no emails.</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          {% endif %}

          {% if site.twitter_username %}
            {% include icon-twitter.html username=site.twitter_username %}
          {% endif %}

          {% if site.facebook_username %}
            {% include icon-facebook.html username=site.facebook_username %}
          {% endif %}

          {% if site.psn_username %}
            {% include icon-psn.html username=site.psn_username %}
          {% endif %}

          {% if site.xbox_username %}
            {% include icon-xbox.html username=site.xbox_username %}
          {% endif %}

          {% if site.steam_username %}
            {% include icon-steam.html username=site.steam_username %}
          {% endif %}

          {% if site.youtube_username %}
            {% include icon-youtube.html username=site.youtube_username %}
          {% endif %}

          {% if site.tumblr_username %}
            {% include icon-tumblr.html username=site.tumblr_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
